<form id="create-review-form" class="custom-add-review-form">
    <section class="field">
        <label for="review-title" class="label">Title</label>
        <section class="control">
        {{#if reviewInQuestion}}
            <input id="review-title" class="input" type="text" value="{{{reviewInQuestion.title}}}">
        {{else}}
            <input id="review-title" class="input" type="text" placeholder="Insert review title here...">
        {{/if}}
            
        </section>
    </section>
    <section class="field">
        <label for="review-content" class="label">Content</label>
        <section class="control">
        {{#if reviewInQuestion}}
            <textarea id="review-content" class="textarea" type="text">{{{reviewInQuestion.content}}}</textarea>
        {{else}}
            <textarea id="review-content" class="textarea" type="text" placeholder="Insert review here..."></textarea>
        {{/if}}
            
        </section>
    </section>
    <section class="custom-create-new-review-form">
        {{#if newElement}}
            <button id="create-new-review-button" class="button" data-book-Id="{{{id}}}" data-user-Id="{{{loggedInUser.id}}}">Post Review</button>
        {{else}}
            <button id="update-review-button" class="button" data-book-Id="{{{id}}}" data-user-Id="{{{loggedInUser.id}}}" data-review-Id="{{{reviewInQuestion.id}}}">Update Review</button>
            <button id="delete-review-button" class="button" data-book-Id="{{{id}}}" data-review-Id="{{{reviewInQuestion.id}}}">Delete Review</button>
        {{/if}}
    </section>
    {{#if errorMessage}}
        <section>
            <p id="error-message">{{{errorMessage}}}</p>
        </section>
    {{/if}}
</form>

<script src="/js/create-update-delete.js"></script>
