{{!-- This handlebars templage is responsible for rendering the form for creating, updating, and deleting reviews. --}}
<form id="create-review-form" class="custom-add-review-form px-5 py-5 has-background-primary-light">
    {{#if newElement}}
    <p class="has-text-centered"><b>Create Review</b></p>
    {{else}}
        {{#if dashboard}}
            <p class="has-text-centered"><b>Update Review</b></p>
        {{else}}
            <p class="has-text-centered"><b>Update or Delete Review</b></p>
        {{/if}}
    {{/if}}
    
    <section class="field">
        <label for="review-title" class="label">Title</label>
        <section class="control">
        {{#if reviewInQuestion}}
            <input id="review-title" class="input" type="text" value="{{{reviewInQuestion.title}}}">
        {{else}}
            <input id="review-title" class="input" type="text" placeholder="Insert review title here...">
        {{/if}}
            
        </section>
    </section>
    <section class="field">
        <label for="review-content" class="label">Content</label>
        <section class="control">
        {{#if reviewInQuestion}}
            <textarea id="review-content" class="textarea" type="text">{{{reviewInQuestion.content}}}</textarea>
        {{else}}
            <textarea id="review-content" class="textarea" type="text" placeholder="Insert review here..."></textarea>
        {{/if}}
            
        </section>
    </section>
    <section class="custom-create-new-review-form is-flex justify-center resizing-section">
        {{#if newElement}}
            <button id="create-new-review-button" class="button is-primary mx-2" data-book-Id="{{{id}}}" data-user-Id="{{{loggedInUser.id}}}">Post Review</button>
        {{else}}
            <button id="update-review-button" class="button resizing-button is-primary mx-2" data-book-Id="{{{id}}}" 
            data-user-Id="{{{loggedInUser.id}}}" data-review-Id="{{{reviewInQuestion.id}}}">Update Review</button>
            {{#unless dashboard}}
                <button id="delete-review-button" class="button resizing-button is-primary mx-2" data-book-Id="{{{id}}}" data-review-Id="{{{reviewInQuestion.id}}}">Delete Review</button>
            {{/unless}}
        {{/if}}
    </section>
</form>
{{#if errorMessage}}
    <section class="large-x-margin has-text-centered mt-3 has-background-danger-dark box">
        <p id="cud-error-message" class="has-text-primary-light larger-text">{{{errorMessage}}}</p>
    </section>
{{/if}}

<script src="/js/create-update-delete.js"></script>
