{{!-- this handlebars template shows the single book that you clicked the button to view the reviews for, 
and inside you can see all the reviews that have been posted by other users. --}}
<section class="custom-single-book-box has-background-link-light pt-2">
    <section class="custom-m-30 single-book columns">
        <section>
            <figure class="book-images" class="image is-3by2">
                <img src="{{{image}}}" class="has-ratio" width="150" height="250">
            </figure>
        </section>
        <aside class="column single-book-lineheight">
            <h2><strong>Title: </strong>{{title}}</h2>
            <h2><strong>Author: </strong>{{author}}</h2>
            <h2><strong>Genre: </strong>{{genre}}</h2>
            <h2><strong>Pages: </strong>{{page_num}}</h2>
            <p class="custom-mt-10"><strong>Description: </strong> {{description}}</p>
        </aside>
    </section>
</section>
{{#if loggedInUser}}
    {{#unless displayCudForm}}
        <section class="custom-add-review-button">
            <section id="add-new-review">
                <p id="add-new-review-button"  class="button is-primary" data="{{id}}">+ New Review</p>
            </section>
        </section>
    {{/unless}}
{{else}}
    <section class="has-text-centered">
        <p class="larger-text">You must <a href="/login">log in</a>before leaving a review.</p>
    </section>
{{/if}}
{{#unless displayCudForm}}
    {{> review}}
{{/unless}}
{{#if displayCudForm}}
    {{> create-update-delete-review}}
{{/if}}

{{!-- Villy: I added this if statement to make it so user cannot interact with the single book page if not logged in --}}
{{#if loggedInUser}}
<script src="/js/book.js"></script>
{{/if}}