{{!-- this handlebars template shows the user's posted reviews and the reviews' corresponding books. --}}
<section class="container">
    {{#if reviews}}
        {{#each reviews as |review|}}
            <section id="dashboard-book-review-{{{review.id}}}" data="{{review.book.id}}" class="box custom-reviews-box custom-container has-background-primary-light">
                <p class="custom-review-createdOn"><strong>{{review.book.title}}</strong>'s review created on {{format_date createdAt}}</p>
                <h2 class="custom-user-review-title">{{review.title}}</h2>
                <p>{{review.content}}</p>
                {{#unless displayCudForm}}
                    <section class="custom-edit-delete-field">
                        <button id="edit-button-{{{count @index}}}" class="custom-user-edit-button button" data-review-Id="{{{id}}}">Edit</button>
                        <button id="delete-button-{{{count @index}}}" class="custom-user-delete-button button" data-review-Id="{{{id}}}">Delete</button>
                    </section>
                {{/unless}}
            </section>
        {{/each}}
        {{#if displayCudForm}}
            {{> create-update-delete-review}}
        {{/if}}
    {{else}}
        <section id="no-reviews-section" class="is-flex justify-content-center mt-2">
            <p class="larger-text">You haven't made any reviews yet.  To make a review, visit the home page, click the <b>View Reviews</b> 
                button for a specific book, and then click the <b>+ New Review</b> button to add a review.</p>
        </section>
    {{/if}}
</section>
<script type="module" src="/js/dashboard.js"></script>
