{{!-- Villy: hasn't been tested --}}
{{!-- Still need to test the html css and stuffs --}}
<main class="container">
    {{#each reviews as |review|}}
    <section data="{{review.book.id}}" class="box custom-reviews-box">
        <p class="custom-review-createdOn"><strong>{{review.book.title}}</strong>'s review created on {{format_date createdAt}}</p>
        <h2 class="custom-user-review-title">{{review.title}}</h2>
        <p>{{review.content}}</p>
        <div class="custom-edit-delete-field">
            <button class="custom-user-edit-button button">Edit</button>
            <button class="custom-user-delete-button button">Delete</button>
        </div>
    </section>
    {{/each}}
</main>
