<section id="books-section" class="container">
{{#each books as |book|}}
    <section id="{{{generateUuid}}}" class="custom-books-section box">
        <figure class="book-images">
            {{!-- Villy: will need to change this to fit the cover --}}
            <img class="image is-128x128">
            {{!-- Villy: Is loggedInUser the logged_in value? --}}
            {{#if ../loggedInUser}}
                <button data="{{book.id}}" class="add-review-button-homepage button is-small">View Reviews</button>
            {{/if}}
        </figure>
        
        {{!-- line 13 to line 28 will be changed to fit small screen --}}
        <section class="book-lists columns">
            <div class="column is-2">
                <li>Title:</li>
                <li>Author: </li>
                <li>Genre: </li>
                <li>Pages:</li>
            </div>

            <aside class="column">
                <li class="book-title">{{book.title}}</li>
                <li class="book-author">{{book.author}}</li>
                <li class="book-genre">{{book.genre}}</li>
                <li class="book-page_num">{{book.page_num}}</li>
            </aside>
        </section>

        <section class="book-description-box">
            <p class="book-description">{{book.description}}</p>   
        </section>
    </section>
{{/each}}
</section>

<script src="/js/homepage.js"></script>
