{{!-- Seeded Book Information --}}

<section id="books-section" class="container">
    {{#each books as |book|}}
    <section id="{{{generateUuid}}}" class="custom-books-section box has-background-link-light" class="flex-container">
        <section>
            <figure class="book-images is-flex">
                {{!-- Villy: will need to change this to fit the cover --}}
                <img data="{{book.id}}" src="{{{book.image}}}" class="book-image-redirect" width="135" height="225">
                {{!-- Villy: Is loggedInUser the logged_in value? --}}
                {{#if ../loggedInUser}}
                <button data="{{book.id}}" class="add-review-button-homepage button is-primary px-5">View Reviews</button>
                {{/if}}
            </figure>
        </section>
        {{!-- line 13 to line 28 will be changed to fit small screen --}}
        
        <section class="book-lists custom-columns">
            <div class="custom-left-column">
                <li>Title:</li>
                <li>Author: </li>
                <li>Genre: </li>
                <li>Pages:</li>
            </div>

            <aside class="custom-right-column">
                <li class="book-title"><span class="display-below-576">Title: </span>{{book.title}}</li>
                <li class="book-author"><span class="display-below-576">Author: </span>{{book.author}}</li>
                <li class="book-genre"><span class="display-below-576">Genre: </span>{{book.genre}}</li>
                <li class="book-page_num"><span class="display-below-576">Pages: </span>{{book.page_num}}</li>
            </aside>
        </section>

        <section class="book-description-box">
            <p class="book-description">{{book.description}}</p>
        </section>
    </section>
    {{/each}}
</section>

<script src="/js/homepage.js"></script>